form.standard-form label.groupblog-label {
	display: inline;
}

form.standard-form .checkbox, 
ul#groupblog-details,
ul#groupblog-members {
	margin-bottom: 15px;
}

p.blog-post-footer span.comments a {
	background: url(../images/comments_icon.gif) center left no-repeat;	
	padding-left: 1.8em;
}
			
li a#nav-group-blog {
	background: url(../images/blog_bullet.gif) 87% 52% no-repeat;
	padding: 0.55em 3.1em 0.55em 0 !important;
	display: block;
	margin-right: 0.85em;
}

.blog-post-metadata {
	color: #888;
	font-size: 0.9em;
}

ul.item-list .blog-post-metadata h5 {
	font-size: 1.4em;
}

.blog-post-content,
.blog-post-footer {
	margin-left: 70px;
}

#groupblog-pages {
	overflow: auto;
	width: 100%;
	
}

ul#groupblog-page-list {
  margin: 0;
  padding: 0;
	list-style: none;
}

ul#groupblog-page-list li {
  float: left;
  margin-right: 15px;
}

ul#groupblog-page-list li a {
  background: #f0f0f0;
	color: #555;
	display: block;
	padding: 2px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
}